.color0 {
    background-color: #fff;
}

.color1 {
    background-color: #e9f4ff;
}

.color2 {
    background-color:#007cc3;
}

.color3 {
    background-color: #f4f4f4;
}

.color4 {
    background-color: #d3dcea;
}

.color5 {
    background-color: #1fc060;
}

.textcolor1 {
    color: #91ee8b;
}

.textcolor2 a {
    color: #ffdbec;
}
