.figure1,.figure2{
    background: url(../images/figure1.png) no-repeat;
    width: 178px;
    height: 178px;
}
.figure1 {
    background-position: -187px 0px;
}

.figure3,.figure4 {
    background: url(../images/figure2.png) no-repeat;

    position: absolute;
}


.figure3 {
    height: 165px;
    /*top: 170%;*/
    width: 210px;
}

.figure4 {
    background-position: -214px 0;
    height: 166px;
    width: 166px;
}

.icon-text {
    width: 50%;
}

.icon-text div{
    /*float: left;*/
    display: table-cell;
    vertical-align: top;
    padding-left: 7px;
}


.text-cloud {
    width: 420px;
    height: 132px;
    background: url("../images/text-cloud.png") no-repeat;
    vertical-align: middle;
    padding:20px;
    /*border: 1px solid #000;*/
    text-align: left;
    margin-bottom: 50px;
}

.text-cloud div.text-cloud-comment {
    height: 80px;
}

.text-cloud div.text-cloud-avatar {
    border: 0px solid;
    margin-top: 90px;
    display: inline-flex;
}


.text-cloud div.text-cloud-avatar img{
    margin-right: 20px;
}


.text-cloud-avatar div{
    padding-top: 40px;
}


#details > div{
    /*width: 24%;*/
    border: 0px solid;
    display: inline-block;
    color: #fff;
    margin-left: -9px;

}

#details hr {
    border: none;
    background: url(../images/rasdelitel.png) repeat-x;
    margin: 20px 0px;
}

#details button {
    background: url(../images/but.png) no-repeat;
    width: 212px;
    height: 58px;
    border: none;
    cursor: pointer;
    font-family: "Myriad Pro Regular";
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

#details > div .details-header{
    background-image: url(../images/details.png);
    background-repeat: no-repeat;
    border: 0px solid;
    text-align: left;
}

#details > div .details-footer{
    background-image: url(../images/details-bottom-border1.png);
    height: 10px;
    background-repeat: no-repeat;
    background-position: 0px -26px;
    border: 0px solid;
    text-align: left;
}

#details > div .details-content{
    padding: 20px 0px;
}

#details > div .details-content{
    background-image: url(../images/details-block-big-bg.png);
    background-repeat: repeat-y;
}

#yt-block div.details-footer, #inst-block div.details-footer{
    background-position: -3px -63px;
}

#yt-block div.details-content, #inst-block div.details-content{
    background-image: url(../images/details-block-mini-bg.png);
    background-repeat: repeat-y;
}

.details-header span{
    position: relative;
    top: 10px;
    left: 100px;
}

.details-but{
    margin-top: 20px;
    background: url(../images/details-buts.png) no-repeat;
    height: 24px;
    border:0px solid;
    padding-top: 12px;
    cursor: pointer;
}

#yt-block .details-but{
    background-position: 2px 0px;
}

#fb-block .details-but{
  background-position: 2px -65px;
}

#tw-block .details-but{
    background-position: 2px -101px;
}

#inst-block .details-but{
    background-position: 2px -34px;
}


#yt-block .details-header{
    width:262px;
    height: 92px;
    background-position: -13px -293px ;
}

#inst-block .details-header{
    width: 262px;
    height: 92px;
    background-position: -13px -202px ;
}

#tw-block .details-header {
    background-position: -8px -102px;
    height: 96px;
    width: 273px;
}

#fb-block .details-header {
    background-position: -8px -1px;
    height: 96px;
    width: 273px;
}


.details-header span:first-child{
    font-family: "Myriad Pro Regular";
    font-size: 36px;
    font-weight: inherit;
}

.details-header span:last-child{
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    text-transform: uppercase;
}

.details-content span {
    font-family: "Myriad Pro Regular";
    font-size: 36px;
    color: #494a4f;
}

.details-content ul{
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    color: #a7a7a7;
    list-style: none;
    text-align: left;
    margin-left: 60px;
    list-style-image: url(../images/bird.png);
}

.details-but {
    font-family: "Gotham Pro Black";
    text-transform: uppercase;
    font-size: 13px;
}


.bestmes div {
    display: inline-block;
}


.statinfo {
    width: 300px;
    text-align: left;
}