body{
	margin: 0;
	background-color: #ccc;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: underline;
}

#wrapper {
    /*max-width: 1250px;*/
    margin: auto;

}

.baseblock {
    padding: 0px 385px;
    /*padding: 0px 20%;*/
    /*width: 1200px;*/
    min-width: 1145px;
}

.top-menu {
    margin-left: 55px;
}

.top-menu li.active{
    color: #434c49;
}

.in li.active{
    text-decoration: underline;
}


header {

	background:url(../images/header.png) no-repeat;
    background-size: cover;
    /*padding: 20px 0;*/
    height: 346px;
}



nav.baseblock {
	background-color: #5ac654;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    /*font: 14px 'Oswald', sans-serif;*/
    padding: 8px;
    color: #fff;
}

nav li {
    display: inline-block;
    /*padding: 10px 28px;*/
    margin: 0;
}


header .in{
    /*border:1px solid black;*/
    text-align: center;
    min-width: 1145px;
}

header .in>div{
    display: inline-block;
    max-width: 100%;
    text-align: center;
    vertical-align: top;
}

.logo {
    margin: 40px
}

header .nav-icons li{
    width: 62px;
    height: 83px;
    /*border: 1px solid #000;*/
    background: url(../images/menuicons.png) no-repeat;
    cursor: pointer;
}
header .nav-icons li+li {
    margin-left: 15px;
}

header .nav-icons li.nav-icons-1{
    background-position: 4px 0px;
}


header .nav-icons li.nav-icons-2{
    background-position: -95px 0px;
}

header .nav-icons li.nav-icons-3{
    background-position: -194px 0px;
}

header .nav-icons li.nav-icons-4{
    background-position: -294px 0px;
}

header .nav-icons li.nav-icons-5{
    background-position: -391px 0px;
}

header .nav-icons li.nav-icons-6{
    background-position: -491px 0px;
}

header .nav-icons li.nav-icons-7{
    background-position: -584px 0px;
}

header .nav-icons li.nav-icons-8{
    background-position: -684px 0px;
}

header .nav-icons li.nav-icons-9{
    background-position: -781px 0px;
}

header .nav-icons li.nav-icons-10{
    background-position: -877px 0px;
}

header .nav-icons li.nav-icons-11{
    background-position: -972px 0px;
}

#marker {
    position: relative;
    top:7px;
    left: 67px;
}


footer {
    background-color: #48637f;
    overflow:hidden;
    /*text-align: center;*/
}

#footer-block {
    padding-top:40px;
    padding-bottom: 40px;
}

/*footer div{*/
    /*border: 1px solid red;*/
/*}*/

.left-menu{
    float: left;
   /*width: 79%;*/
    /*border: 1px solid #000;*/
}

.left-menu nav{
    margin-top: 10px;
}

.right-menu{
    float: right;
        /*width: 20%;*/
}

.footer-logo{
    margin-top: 10px;
}

footer .pay li a{
    display: block;
    height: 47px;
    background: url(../images/pay-services.png) no-repeat;
    border: 0px solid #000;
}

footer .pay li.pay-link1 a{
    width: 208px;

}

footer .pay li.pay-link2 a{
    width: 134px;
    background-position: -212px 0px;
}

footer .pay li.pay-link3 a{
    width: 91px;
    background-position: -354px 0px;
}


.big-block,.small-block{
    text-align: center;
}


.big-block{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow:hidden;
}

.small-block{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow:hidden;
}


header .in>div{
    border: 0px solid;
    width: 30%;
}




header .in div.login input {

    background: url(../images/form-login.png) no-repeat;
    border: none;
    width: 175px;
    height: 35px;
    margin-bottom: 7px;
    color: #7b8b9a;
    font-size: 14px;



    /*padding: 0px 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/

}

header .in div.login input[type="password"],header .in div.login input[type="text"] {
    padding-left: 10px;
    padding-right: 35px;

}

header .in div.login input:last-child{
    margin-bottom:0px;
    margin-left: 20px;
}

header .in div.login form div{
    display: inline-table;
    border: 0px solid;
    vertical-align: middle;
    text-align: right;

}

header .in div.login form div a {
    color: #a3a3a3;
}


header .in div.login {
    background: url(../images/user-info-block.png) no-repeat;
    width: 261px;
    height: 155px;
    border: 0px solid;
    float: right;
    /*padding: 10px;*/
    border: 0px solid;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

header .in div.login input[type="password"]{
    background-position: 0px -47px;
}

header .in div.login input[type="submit"]{
    background: url(../images/form-login-button.png);
    width: 91px;
    height: 37px;
    color: #fff;
    font-family: 'MyriadPro-Regular', 'PT Sans', sans-serif;
}


header .in div.statistic {
    background: url(../images/user-info-block.png) no-repeat;
    width: 261px;
    height: 155px;
    border: 0px solid;
    float: right;
    /*padding: 10px;*/
    border: 0px solid;
    text-align: center;
    padding-top: 35px;
    color: #fff;
}



header .in div.statistic div {
    border: 0px solid;
    display: block;
    width: 70%;
    height: 18px;
    background: url(../images/statistic-icons.png) no-repeat;
    text-align: left;
    padding-left: 30px;

    margin-left: 25px;

    margin-bottom: 10px;
}



header .in div.statistic div.statistic-balance{
    background-position: 0px -17px;
    height: 20px;
}

header .in div.statistic button {
    width: 214px;
    height: 39px;
    background: url(../images/but1.png) no-repeat;
    border: none;
    color: #fff;
}

button {
    cursor: pointer;
}


header .in .system-points{
    margin-top: 5px;
    text-align: left;
}

header .in .system-points img{
    cursor: pointer;
}

.system-points div{
    display: inline-block;
    background-image:  url(../images/system-icons.png);
    background-repeat: no-repeat;
    padding:0px 50px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.system-points div+div{
    background-position: 0px -30px;
}

